In [ ]:
# connection_string = "mysql+mysqlconnector://root:Radium%40614@localhost/stockdatadb"

# engine = create_engine(connection_string)

# trading_history_data = pd.read_sql_query("SELECT * FROM trading_history_data", engine)
# 
# overview_page_data_subset = pd.read_sql_query("SELECT * FROM overview_page_data_subset", engine)
# 
# exchangerate = pd.read_sql_query("SELECT * FROM exchangerate", engine)

# trading_history_data.to_csv("csv_files/trading_history_data.csv", index=False)
# overview_page_data_subset.to_csv("csv_files/overview_page_data_subset.csv", index=False)
# exchangerate.to_csv("csv_files/exchangerate.csv", index=False)

In [86]:
# # Creating dummy trading history data table with two sample values for better visibility of code
# 
# trading_history_data_dummy = pd.DataFrame(columns=trading_history_data.columns.tolist())
# 
# row1 = trading_history_data[(trading_history_data['user_id'] == 264664) & (trading_history_data['trade_id'] == 507751750)]
# row1_list = row1.iloc[0].tolist()
# 
# row2 = trading_history_data[(trading_history_data['user_id'] == 337269) & (trading_history_data['trade_id'] == 500423556)]
# row2_list = row2.iloc[0].tolist()
# 
# trading_history_data_dummy.loc[len(trading_history_data_dummy.index)] = row1_list
# trading_history_data_dummy.loc[len(trading_history_data_dummy.index)] = row2_list

In [87]:
# # Creating dummy table for overview data
# 
# user_ids = trading_history_data_dummy['user_id'].unique()
# 
# overview_data_dummy = overview_data[overview_data['userid'].isin(user_ids)]

In [2]:
import pandas as pd
from pandas import Timestamp
import numpy as np
from datetime import datetime, timedelta
from sqlalchemy import create_engine

In [4]:
# Original tables with all columns

trading_history_data = pd.read_csv("final_files/trading_history_data.csv")
overview_data = pd.read_csv("final_files/overview_page_data_subset.csv")
exchangerate = pd.read_csv("final_files/exchangerate.csv")

In [6]:
compute1 = pd.read_csv('final_files/compute1_Feb04.txt', sep=';', header=0)
compute1 = compute1[['open_date', 'close_date', 'open_date2', 'user_id', 'trade_id', 'cum_profit', 'platform_days', 'zulu_rank', 'page_visits', 'amount_following', 'amount_following_new', 'followers']]

In [7]:
trading_history_data = trading_history_data.drop('scraped_on', axis=1)
trading_history_data = trading_history_data.drop_duplicates(subset=['user_id', 'trade_id'], keep='first')

KeyError: "['scraped_on'] not found in axis"

In [62]:
# Converting required dates into datetime format

trading_history_data.loc[:, 'date_open'] = pd.to_datetime(trading_history_data['date_open'])
trading_history_data.loc[:, 'date_closed'] = pd.to_datetime(trading_history_data['date_closed'])

overview_data.loc[:, 'scraped_on'] = pd.to_datetime(overview_data['scraped_on'])

exchangerate.loc[:, 'time'] = pd.to_datetime(exchangerate['time'])

In [117]:
compute1.loc[:, 'open_date'] = pd.to_datetime(compute1['open_date'])
compute1.loc[:, 'close_date'] = pd.to_datetime(compute1['close_date'])
compute1.loc[:, 'open_date2'] = pd.to_datetime(compute1['open_date2'])

In [63]:
trading_history_data

,user_id,ids,trade_id,provider_ticket,broker_ticket,provider_id,provider_name,lots,trade_type,date_open,...,currency_id,transaction_currency,currency,pip_multiplier,total_accumulated_pips,total_accumulated_pnl,unix_date_open,unix_date_closed,unix_max_profit_date,unix_worst_drawdown_date
0,264664,431471497,513678789,400.156976,78230730,0.0,Manual,1.00,SELL,2019-10-03 13:22:53,...,2,EUR,EUR/USD,10000.0,24774.4,212982.22,1570123373000,1570129898000,1570129897000,1570123391000
1,264664,430581816,512442217,400.156873,78099153,0.0,Manual,1.00,SELL,2019-09-22 22:42:14,...,2,EUR,EUR/USD,10000.0,24759.3,212831.22,1569206534000,1569212511000,1569212320000,1569207250000
2,264664,430557920,512004622,400.156795,78050385,0.0,Manual,1.00,SELL,2019-09-17 05:06:27,...,2,EUR,EUR/USD,10000.0,24757.6,212814.22,1568711187000,1568994106000,1568994106000,1568764274000
3,264664,430531843,512352055,400.156873,78088577,0.0,Manual,1.00,SELL,2019-09-20 02:11:49,...,2,EUR,EUR/USD,10000.0,24747.1,212685.93,1568959909000,1568969895000,1568965864000,1568963600000
4,264664,430498847,512271847,400.156873,78079074,0.0,Manual,1.00,SELL,2019-09-19 06:29:42,...,2,EUR,EUR/USD,10000.0,24742.6,212640.93,1568888982000,1568921190000,1568910472000,1568893174000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967657,385515,432455908,514964077,400.157037,78356135,0.0,Manual,0.01,SELL,2019-10-15 22:57:23,...,6,GBP,GBP/JPY,100.0,49069.0,-5292.70,1571194643000,1571208583000,1571208554000,1571207672000
967658,385515,432455907,514974074,400.157037,78358995,0.0,Manual,0.01,SELL,2019-10-16 02:20:12,...,6,GBP,GBP/JPY,100.0,49053.8,-5294.10,1571206812000,1571208582000,1571208554000,1571207672000
967659,385515,432455899,514974086,400.157037,78358996,0.0,Manual,0.01,SELL,2019-10-16 02:20:23,...,6,GBP,GBP/JPY,100.0,49018.1,-5297.38,1571206823000,1571208580000,1571208554000,1571207672000
967660,385515,432455898,514974092,400.157037,78358997,0.0,Manual,0.01,SELL,2019-10-16 02:20:33,...,6,GBP,GBP/JPY,100.0,48982.9,-5300.62,1571206833000,1571208578000,1571208554000,1571207672000
967661,385515,432455895,514974430,400.157037,78359017,0.0,Manual,0.01,SELL,2019-10-16 02:22:42,...,6,GBP,GBP/JPY,100.0,48948.6,-5303.78,1571206962000,1571208577000,1571208554000,1571207672000

In [1]:
for i in trading_history_data.iloc[0]:
    print(type(i))

NameError: name 'trading_history_data' is not defined

In [118]:
compute1

,open_date,close_date,open_date2,user_id,trade_id,cum_profit,platform_days,zulu_rank,page_visits,amount_following,amount_following_new,followers
0,2019-06-04 21:18:44,2019-06-06 00:05:22,2019-06-04 00:00:00,2594,502522886,0.0,3885,NaN,NaN,NaN,NaN,NaN
1,2019-06-04 21:18:44,2019-06-06 00:05:22,2019-06-05 00:00:00,2594,502522886,0.0,3886,NaN,NaN,NaN,NaN,NaN
2,2019-06-04 21:18:44,2019-06-06 00:05:22,2019-06-06 00:00:00,2594,502522886,7655.0,3887,NaN,NaN,NaN,NaN,NaN
3,2019-06-04 21:19:33,2019-06-06 10:18:54,2019-06-04 00:00:00,2594,502522893,0.0,3885,NaN,NaN,NaN,NaN,NaN
4,2019-06-04 21:19:33,2019-06-06 10:18:54,2019-06-05 00:00:00,2594,502522893,0.0,3886,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
643479,2020-03-05 12:52:58,2020-03-19 15:58:18,2020-03-15 00:00:00,389074,520742434,-11286.5,234,10174.0,1436.0,0.0,0.0,1.0
643480,2020-03-05 12:52:58,2020-03-19 15:58:18,2020-03-16 00:00:00,389074,520742434,-11286.5,235,10174.0,1436.0,0.0,0.0,1.0
643481,2020-03-05 12:52:58,2020-03-19 15:58:18,2020-03-17 00:00:00,389074,520742434,-11286.5,236,10174.0,1436.0,0.0,0.0,1.0
643482,2020-03-05 12:52:58,2020-03-19 15:58:18,2020-03-18 00:00:00,389074,520742434,-11286.5,237,10174.0,1436.0,0.0,0.0,1.0
643483,2020-03-05 12:52:58,2020-03-19 15:58:18,2020-03-19 00:00:00,389074,520742434,8713.5,238,10174.0,1436.0,0.0,0.0,1.0

In [64]:
overview_data

,scraped_on,userid,open_positions,weeks,roi_annualized,copied_by_real_investors,viewed_no_of_times,last_updated,extra_info,profit_in_pips,winning_trades,trades,necessary_minimum_equity,max_open_trades,maximum_drawdown,avg_pips,avg_trade_time,avg_trade_time_in_secs,private_trader
0,2019-10-02 23:07:00,105572,-16.9,370.0,0.75,0.0,89023.0,2019-10-03 03:27:00,No extra information!,154276.1,350.0,510.0,7814.0,30.0,52.6,302.5,2Weeks,1209600.0,0
1,2019-10-02 23:07:00,105917,1484.8,381.0,-2.39,0.0,30752.0,2019-10-03 03:27:00,Risky activity detected!,-5390.2,652.0,1798.0,2254.0,19.0,19.2,-3.8,2Weeks,1209600.0,0
2,2019-10-02 23:07:00,119035,-4033.8,370.0,-0.04,1.0,224049.0,2019-10-03 03:15:00,Risky activity detected!Inactivity detected!,-1434.3,3795.0,5358.0,7577.0,31.0,60.2,0.5,2Weeks,1209600.0,0
3,2019-10-02 23:07:00,142684,-6458.8,348.0,-1.47,0.0,55813.0,2019-10-03 02:46:00,Risky activity detected!Inactivity detected!,-6618.4,1617.0,1913.0,2725.0,30.0,22.1,-0.1,2Weeks,1209600.0,0
4,2019-10-02 23:07:00,147097,-2972.7,344.0,0.10,1.0,119076.0,2019-10-03 03:15:00,Risky activity detected!Inactivity detected!,1766.5,2388.0,3102.0,6110.0,28.0,49.9,1.5,2Weeks,1209600.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82553,2020-05-24 21:08:00,389074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
82554,2020-05-24 21:08:00,41016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
82555,2020-05-24 21:08:00,41513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
82556,2020-05-24 21:08:00,44530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
82557,2020-05-24 21:08:00,97702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [65]:
exchangerate

,time,open,high,low,close,volume,unix,unit
0,2013-05-16 00:00:00,0.95534,0.95671,0.95534,0.95647,3241,1368662400,AUDCHF
1,2013-05-16 01:00:00,0.95651,0.95663,0.95537,0.95576,2945,1368666000,AUDCHF
2,2013-05-16 02:00:00,0.95576,0.95645,0.95538,0.95550,2554,1368669600,AUDCHF
3,2013-05-16 03:00:00,0.95550,0.95577,0.95392,0.95398,2830,1368673200,AUDCHF
4,2013-05-16 04:00:00,0.95398,0.95410,0.95331,0.95404,2770,1368676800,AUDCHF
...,...,...,...,...,...,...,...,...
1114662,2021-05-26 10:00:00,0.93944,0.93969,0.93888,0.93933,2916,1622023200,AUDCAD
1114663,2021-05-26 11:00:00,0.93934,0.93978,0.93918,0.93935,3890,1622026800,AUDCAD
1114664,2021-05-26 12:00:00,0.93936,0.94087,0.93911,0.94001,7330,1622030400,AUDCAD
1114665,2021-05-26 13:00:00,0.94000,0.94001,0.93816,0.93823,8266,1622034000,AUDCAD
1114666,2021-05-26 14:00:00,0.93824,0.93852,0.93695,0.93747,8363,1622037600,AUDCAD

In [128]:
count = 1
for _, row in trading_history_data.iterrows():
    date_open = row['date_open']
    date_closed = row['date_closed']
    price_open = row['price_open']
    price_closed = row['price_closed']
    currency = row['currency'].replace('/', '')
    
    date_open = date_open.floor('h')
    date_closed = date_closed.floor('h')
    
    price_open_from_er = exchangerate.loc[(exchangerate['time'] == date_open) & (exchangerate['unit'] == currency), ['high','low']].values[0]
    price_closed_from_er = exchangerate.loc[(exchangerate['time'] == date_closed) & (exchangerate['unit'] == currency), ['high','low']].values[0]
    
    print(f"{price_open=} {price_open_from_er=}")
    print(f"{price_closed=} {price_closed_from_er=}")
    print()
    
    count += 1
    if count > 10:
        break

price_open=1.09851 price_open_from_er=array([1.09627, 1.09525])
price_closed=1.097 price_closed_from_er=array([1.09948, 1.0978 ])

price_open=1.10232 price_open_from_er=array([1.1019 , 1.10153])
price_closed=1.10215 price_closed_from_er=array([1.10198, 1.10159])

price_open=1.10101 price_open_from_er=array([1.10137, 1.1007 ])
price_closed=1.09996 price_closed_from_er=array([1.10432, 1.10249])

price_open=1.10547 price_open_from_er=array([1.10596, 1.10511])
price_closed=1.10502 price_closed_from_er=array([1.10594, 1.10557])

price_open=1.10603 price_open_from_er=array([1.1049 , 1.10403])
price_closed=1.10444 price_closed_from_er=array([1.10573, 1.10429])

price_open=1.1068 price_open_from_er=array([1.10665, 1.10475])
price_closed=1.10186 price_closed_from_er=array([1.10657, 1.1054 ])

price_open=1.10096 price_open_from_er=array([1.10061, 1.09984])
price_closed=1.09913 price_closed_from_er=array([1.10135, 1.10056])

price_open=1.10714 price_open_from_er=array([1.10863, 1.10788])
price_closed=1.10531 price_closed_from_er=array([1.10769, 1.10669])

price_open=1.09497 price_open_from_er=array([1.10323, 1.10155])
price_closed=1.09642 price_closed_from_er=array([1.10315, 1.1025 ])

price_open=1.09926 price_open_from_er=array([1.10219, 1.10069])
price_closed=1.09965 price_closed_from_er=array([1.10219, 1.10069])

In [104]:
# Views: These are taken from the 'viewed_number_of_times' column from the overview_data_table where the scraped on date is the date_observed.
# Followers: These are taken from the 'copied_by_real_investors' column from the overview_data table where the scraped on date is the date_observed.
# The last observation should be the same as date_closed. If it is not, we add another row where date observed is same as date closed and for the gain, we used the
# price closed from the trading history table


temp_trading_history_data = trading_history_data[['user_id', 'trade_id', 'date_open', 'date_closed', 'currency', 'price_open', 'lots']]
temp_overview_data = overview_data[['userid', 'scraped_on', 'viewed_no_of_times', 'copied_by_real_investors']]

temp_overview_data = temp_overview_data.rename(columns={'userid': 'user_id'})

observed_data_dict = {}

for _, row in temp_overview_data.iterrows():
    user_id = row['user_id']
    scraped_on = row['scraped_on']
    viewed_no_of_times = row['viewed_no_of_times']
    copied_by_real_investors = row['copied_by_real_investors']
    
    if user_id not in observed_data_dict:
        observed_data_dict[user_id] = []
    
    observed_data_dict[user_id].append((scraped_on, viewed_no_of_times, copied_by_real_investors))

derived_variables_data = []

for _, row in temp_trading_history_data.iterrows():
    user_id = row['user_id']
    trade_id = row['trade_id']
    date_open = row['date_open']
    date_closed = row['date_closed']
    currency = row['currency']
    price_open = row['price_open']
    
    if user_id in observed_data_dict:
        observed_data = observed_data_dict[user_id]
        
        filtered_data = [data for data in observed_data if date_open <= data[0] and data[0].date() <= date_closed.date()]
        
        scraped_on_dates = []
        
        for obs_no, (date_observed, views, followers) in enumerate(filtered_data, start=1):
            scraped_on_dates.append(date_observed.date())
            new_row = {
                'user_id': user_id,
                'trade_id': trade_id,
                'date_open': date_open,
                'date_closed': date_closed,
                'date_observed': date_observed,
                'obs_no': obs_no,
                'currency': currency,
                'price_open': price_open,
                'views': views,
                'followers': followers
            }
            derived_variables_data.append(new_row)
        
        curr_obs = len(filtered_data) + 1
        if date_closed.date() not in scraped_on_dates:
            new_row = {
                'user_id': user_id,
                'trade_id': trade_id,
                'date_open': date_open,
                'date_closed': date_closed,
                'date_observed': date_closed,
                'obs_no': curr_obs,
                'currency': currency,
                'price_open': price_open,
                'views': '-',
                'followers': '-'
            }
            derived_variables_data.append(new_row)

derived_variables = pd.DataFrame(derived_variables_data)

In [105]:
derived_variables

,user_id,trade_id,date_open,date_closed,date_observed,obs_no,currency,price_open,views,followers
0,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 16:30:00,1,EUR/USD,1.09851,54192.0,1.0
1,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 22:25:00,2,EUR/USD,1.09851,54198.0,1.0
2,264664,512442217,2019-09-22 22:42:14,2019-09-23 00:21:51,2019-09-23 22:25:00,1,EUR/USD,1.10232,53992.0,1.0
3,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-17 22:25:00,1,EUR/USD,1.10101,53843.0,1.0
4,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-18 22:25:00,2,EUR/USD,1.10101,53873.0,1.0
...,...,...,...,...,...,...,...,...,...,...
26641,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-29 22:25:00,18,GBP/USD,1.24863,3912.0,1.0
26642,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-30 22:25:00,19,GBP/USD,1.24863,4034.0,1.0
26643,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-10-14 02:19:42,20,GBP/USD,1.24863,-,-
26644,384675,514888733,2019-10-15 09:57:24,2019-10-20 17:43:55,2019-10-20 17:43:55,1,EUR/CAD,1.45503,-,-
26645,384912,514668048,2019-10-13 18:30:02,2019-10-15 02:35:27,2019-10-15 02:35:27,1,GBP/USD,1.26429,-,-

In [106]:
# Tij
# In number of seconds

derived_variables['Tij'] = (derived_variables['date_observed'] - derived_variables['date_open']).dt.total_seconds()

In [107]:
derived_variables

,user_id,trade_id,date_open,date_closed,date_observed,obs_no,currency,price_open,views,followers,Tij
0,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 16:30:00,1,EUR/USD,1.09851,54192.0,1.0,11227.0
1,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 22:25:00,2,EUR/USD,1.09851,54198.0,1.0,32527.0
2,264664,512442217,2019-09-22 22:42:14,2019-09-23 00:21:51,2019-09-23 22:25:00,1,EUR/USD,1.10232,53992.0,1.0,85366.0
3,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-17 22:25:00,1,EUR/USD,1.10101,53843.0,1.0,62313.0
4,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-18 22:25:00,2,EUR/USD,1.10101,53873.0,1.0,148713.0
...,...,...,...,...,...,...,...,...,...,...,...
26641,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-29 22:25:00,18,GBP/USD,1.24863,3912.0,1.0,597225.0
26642,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-30 22:25:00,19,GBP/USD,1.24863,4034.0,1.0,683625.0
26643,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-10-14 02:19:42,20,GBP/USD,1.24863,-,-,1820907.0
26644,384675,514888733,2019-10-15 09:57:24,2019-10-20 17:43:55,2019-10-20 17:43:55,1,EUR/CAD,1.45503,-,-,459991.0
26645,384912,514668048,2019-10-13 18:30:02,2019-10-15 02:35:27,2019-10-15 02:35:27,1,GBP/USD,1.26429,-,-,115525.0

In [108]:
# Gain: 
# We are calculating this by taking the value from exchange rate table on date_open and date_observed for that particular currency and checking gain

exchange_rates_dict = {}

for _, row in exchangerate.iterrows():
    currency = row['unit']
    date = row['time']
    close_price = row['close']
    
    if currency not in exchange_rates_dict:
        exchange_rates_dict[currency] = {}
    
    exchange_rates_dict[currency][date] = close_price

def calculate_gain(row_curr):
    currency_curr = row_curr['currency'].replace('/', '')
    date_open_curr = row_curr['date_open'].floor('h')
    date_observed_curr = row_curr['date_observed'].floor('h')
    
    if currency_curr in exchange_rates_dict:
        currency_rates = exchange_rates_dict[currency_curr]
        
        if date_open_curr in currency_rates and date_observed_curr in currency_rates:
            price_open_curr = currency_rates[date_open_curr]
            price_observed = currency_rates[date_observed_curr]
            
            return 1 if price_observed > price_open_curr else 0
    
    return None

derived_variables['gain'] = derived_variables.apply(calculate_gain, axis=1)

In [109]:
derived_variables

,user_id,trade_id,date_open,date_closed,date_observed,obs_no,currency,price_open,views,followers,Tij,gain
0,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 16:30:00,1,EUR/USD,1.09851,54192.0,1.0,11227.0,1.0
1,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 22:25:00,2,EUR/USD,1.09851,54198.0,1.0,32527.0,1.0
2,264664,512442217,2019-09-22 22:42:14,2019-09-23 00:21:51,2019-09-23 22:25:00,1,EUR/USD,1.10232,53992.0,1.0,85366.0,0.0
3,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-17 22:25:00,1,EUR/USD,1.10101,53843.0,1.0,62313.0,1.0
4,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-18 22:25:00,2,EUR/USD,1.10101,53873.0,1.0,148713.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
26641,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-29 22:25:00,18,GBP/USD,1.24863,3912.0,1.0,597225.0,0.0
26642,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-30 22:25:00,19,GBP/USD,1.24863,4034.0,1.0,683625.0,0.0
26643,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-10-14 02:19:42,20,GBP/USD,1.24863,-,-,1820907.0,1.0
26644,384675,514888733,2019-10-15 09:57:24,2019-10-20 17:43:55,2019-10-20 17:43:55,1,EUR/CAD,1.45503,-,-,459991.0,NaN
26645,384912,514668048,2019-10-13 18:30:02,2019-10-15 02:35:27,2019-10-15 02:35:27,1,GBP/USD,1.26429,-,-,115525.0,NaN

In [110]:
# conc_trades: Number of open transactions for that user on date_open. This is calculated by retriving all transactions whose open date is lesser than the open date for this transaction and whose close date is greater than the open date for this transaction for that user
# Change this to look at the date_observed instaed of date_open and all transaction whoe open date is the same as date_observed and the close date is greater than
# or equal to the date_observed

temp_trading_history_data = trading_history_data[['user_id', 'date_open', 'date_closed', 'currency']].copy()
temp_trading_history_data['date_open'] = pd.to_datetime(temp_trading_history_data['date_open'])
temp_trading_history_data['date_closed'] = pd.to_datetime(temp_trading_history_data['date_closed'])
derived_variables['date_observed'] = pd.to_datetime(derived_variables['date_observed'])

temp_trading_history_data['date_open_date'] = temp_trading_history_data['date_open'].dt.date
temp_trading_history_data['date_closed_date'] = temp_trading_history_data['date_closed'].dt.date

temp_trading_history_data.set_index(['user_id', 'date_open_date', 'date_closed_date'], inplace=True)

def count_concurrent_trades_and_currencies(user_id, date_observed):
    relevant_trades = temp_trading_history_data.loc[user_id]
    concurrent_trades = relevant_trades[
        (relevant_trades.index.get_level_values('date_open_date') == date_observed) & 
        (relevant_trades.index.get_level_values('date_closed_date') >= date_observed)
    ]
    
    concurrent_count = len(concurrent_trades)
    unique_currencies = concurrent_trades['currency'].nunique()
    
    return concurrent_count, unique_currencies

derived_variables[['conc_transactions', 'conc_currencies']] = derived_variables.apply(
    lambda row: count_concurrent_trades_and_currencies(row['user_id'], row['date_observed'].date()), 
    axis=1, result_type='expand'
)

In [113]:
derived_variables

,user_id,trade_id,date_open,date_closed,date_observed,obs_no,currency,price_open,views,followers,Tij,gain,conc_transactions,conc_currencies
0,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 16:30:00,1,EUR/USD,1.09851,54192.0,1.0,11227.0,1.0,1,1
1,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 22:25:00,2,EUR/USD,1.09851,54198.0,1.0,32527.0,1.0,1,1
2,264664,512442217,2019-09-22 22:42:14,2019-09-23 00:21:51,2019-09-23 22:25:00,1,EUR/USD,1.10232,53992.0,1.0,85366.0,0.0,0,0
3,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-17 22:25:00,1,EUR/USD,1.10101,53843.0,1.0,62313.0,1.0,2,1
4,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-18 22:25:00,2,EUR/USD,1.10101,53873.0,1.0,148713.0,1.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26641,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-29 22:25:00,18,GBP/USD,1.24863,3912.0,1.0,597225.0,0.0,0,0
26642,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-30 22:25:00,19,GBP/USD,1.24863,4034.0,1.0,683625.0,0.0,1,1
26643,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-10-14 02:19:42,20,GBP/USD,1.24863,-,-,1820907.0,1.0,0,0
26644,384675,514888733,2019-10-15 09:57:24,2019-10-20 17:43:55,2019-10-20 17:43:55,1,EUR/CAD,1.45503,-,-,459991.0,NaN,0,0
26645,384912,514668048,2019-10-13 18:30:02,2019-10-15 02:35:27,2019-10-15 02:35:27,1,GBP/USD,1.26429,-,-,115525.0,NaN,0,0

In [114]:
# Cumulative days: weeks on scraped on date in overview data table that matches the date observed

In [115]:
derived_variables

,user_id,trade_id,date_open,date_closed,date_observed,obs_no,currency,price_open,views,followers,Tij,gain,conc_transactions,conc_currencies,cum_days
0,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 16:30:00,1,EUR/USD,1.09851,54192.0,1.0,11227.0,1.0,1,1,1760
1,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 22:25:00,2,EUR/USD,1.09851,54198.0,1.0,32527.0,1.0,1,1,1761
2,264664,512442217,2019-09-22 22:42:14,2019-09-23 00:21:51,2019-09-23 22:25:00,1,EUR/USD,1.10232,53992.0,1.0,85366.0,0.0,0,0,1751
3,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-17 22:25:00,1,EUR/USD,1.10101,53843.0,1.0,62313.0,1.0,2,1,1745
4,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-18 22:25:00,2,EUR/USD,1.10101,53873.0,1.0,148713.0,1.0,0,0,1746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26641,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-29 22:25:00,18,GBP/USD,1.24863,3912.0,1.0,597225.0,0.0,0,0,172
26642,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-30 22:25:00,19,GBP/USD,1.24863,4034.0,1.0,683625.0,0.0,1,1,173
26643,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-10-14 02:19:42,20,GBP/USD,1.24863,-,-,1820907.0,1.0,0,0,186
26644,384675,514888733,2019-10-15 09:57:24,2019-10-20 17:43:55,2019-10-20 17:43:55,1,EUR/CAD,1.45503,-,-,459991.0,NaN,0,0,193
26645,384912,514668048,2019-10-13 18:30:02,2019-10-15 02:35:27,2019-10-15 02:35:27,1,GBP/USD,1.26429,-,-,115525.0,NaN,0,0,180

In [124]:
# Rank and Rank Change

derived_variables['date_observed'] = pd.to_datetime(derived_variables['date_observed'])
derived_variables['date_open'] = pd.to_datetime(derived_variables['date_open'])
compute1['open_date2'] = pd.to_datetime(compute1['open_date2'])

rank_dict = {}
for _, row in compute1.iterrows():
    user_id = row['user_id']
    date = row['open_date2'].date()
    zulu_rank = row['zulu_rank']
    
    if user_id not in rank_dict:
        rank_dict[user_id] = {}
    rank_dict[user_id][date] = zulu_rank

def get_rank(user_id, date):
    user_ranks = rank_dict.get(user_id, {})
    return user_ranks.get(date.date(), None)

def calculate_rank_and_change(row):
    user_id = row['user_id']
    date_observed = row['date_observed']
    date_open = row['date_open']
    
    observed_rank = get_rank(user_id, date_observed)
    open_rank = get_rank(user_id, date_open)
    
    if observed_rank is None or open_rank is None:
        return pd.Series({'rank': None, 'rank_change': None})
    
    rank_change = open_rank - observed_rank
    return pd.Series({'rank': observed_rank, 'rank_change': rank_change})

derived_variables[['rank', 'rank_change']] = derived_variables.apply(
    calculate_rank_and_change,
    axis=1
)

In [125]:
derived_variables

,user_id,trade_id,date_open,date_closed,date_observed,obs_no,currency,price_open,views,followers,Tij,gain,conc_transactions,conc_currencies,cum_days,rank,rank_change
0,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 16:30:00,1,EUR/USD,1.09851,54192.0,1.0,11227.0,1.0,1,1,1760,220.0,0.0
1,264664,513678789,2019-10-03 13:22:53,2019-10-03 15:11:38,2019-10-03 22:25:00,2,EUR/USD,1.09851,54198.0,1.0,32527.0,1.0,1,1,1761,220.0,0.0
2,264664,512442217,2019-09-22 22:42:14,2019-09-23 00:21:51,2019-09-23 22:25:00,1,EUR/USD,1.10232,53992.0,1.0,85366.0,0.0,0,0,1751,213.0,-15.0
3,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-17 22:25:00,1,EUR/USD,1.10101,53843.0,1.0,62313.0,1.0,2,1,1745,288.0,0.0
4,264664,512004622,2019-09-17 05:06:27,2019-09-20 11:41:46,2019-09-18 22:25:00,2,EUR/USD,1.10101,53873.0,1.0,148713.0,1.0,0,0,1746,262.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26641,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-29 22:25:00,18,GBP/USD,1.24863,3912.0,1.0,597225.0,0.0,0,0,172,12.0,1.0
26642,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-09-30 22:25:00,19,GBP/USD,1.24863,4034.0,1.0,683625.0,0.0,1,1,173,12.0,1.0
26643,384675,512451789,2019-09-23 00:31:15,2019-10-14 02:19:42,2019-10-14 02:19:42,20,GBP/USD,1.24863,-,-,1820907.0,1.0,0,0,186,205.0,-192.0
26644,384675,514888733,2019-10-15 09:57:24,2019-10-20 17:43:55,2019-10-20 17:43:55,1,EUR/CAD,1.45503,-,-,459991.0,NaN,0,0,193,205.0,0.0
26645,384912,514668048,2019-10-13 18:30:02,2019-10-15 02:35:27,2019-10-15 02:35:27,1,GBP/USD,1.26429,-,-,115525.0,NaN,0,0,180,187.0,0.0